<ul class="thumbnails">
  <li class="span16">
    <div class="thumbnail">
      <h5>CEPA (Capture, Evaluate, Proritize, Assign</h5>
      <img src="http://placehold.it/1100" alt="">
    </div>
  </li>
</ul>