<div class="hero-unit">
  <h1>Welcome to Mapper</h1>
  <p>Mapper allows you the ability to capture your initiatives, prioritize and assign to a timeframe</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn More!
    </a>
  </p>
</div>