<h3>Rockets</h3>
<table class="table table-striped">
  <thread>
    <tr>
      <th>ID</th>
      <th>Idea</th>
      <th>Status</th>
      <th>Tags</th>
    </tr>
  </thread>
  <tbody>
    <tr>
      <td>1</td>
      <td>Social Gift Registry</td>
      <td><span class="label label-success">Active Development</span></td>
      <td><span class="badge badge-important">Social</span> <span class="badge badge-info">Business</span></td>
    </tr>
  </tbody>
</table>